h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: inherit;
  font-size: inherit;
}

h1 {
  margin: 0 auto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1338px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* --Skills--------------------------------------- */
.section-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
}

.section-subtitle {
  font-weight: 600;
font-size: 30px;
line-height: 45px;
color: #263238;
}

