h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  margin: 0 auto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}


.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
min-height: 100%;
overflow: hidden;
}